<script src="https://unpkg.com/htmx.org@1.9.10"></script>

<h2>load sample</h2>
<p id="target">ここが変わるよ</p>

<div
  hx-get="https://jsonplaceholder.typicode.com/posts/1"
  hx-trigger="load delay:1s"
  hx-target="#target"
>
  ロードして1s後に発火します
</div>

<h2>revealed sample</h2>

<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p>下にスクロール</p>
<p id="target2">ここが変わるよ</p>
<div
  hx-get="https://jsonplaceholder.typicode.com/posts/1"
  hx-trigger="revealed"
  hx-target="#target2"
>
  ここまでスクロールしたら発火
</div>
<p>あいうえお</p>
<p>あいうえお</p>
<p>あいうえお</p>
<p>あいうえお</p>
<p>あいうえお</p>

<div hx-get="/latest_updates" hx-trigger="every 1s">hello ポーリング</div>
